.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/************* Main App Component **************/

.component-app{
  margin: auto;
  max-width: 300px;
  background-color: lightgrey;
  border-radius: 15px;
  height: 425px;
  border: solid 2px dimgray;
  box-shadow: 4px -1px slategray, 7px -2px slategray, 10px -3px black;
  margin-top: 50px;
}